# [{{version}} - {{releaseDate}}]({{releaseUrl}}) #
{{#hasMajorChanges}}

## Major Changes ##
{{/hasMajorChanges}}
{{#majorChanges}}

### {{title}} ###

{{&body}}
{{/majorChanges}}
{{#hasMajorChanges}}
    {{#hasAdditionalChanges}}

## Additional Changes ##

    {{/hasAdditionalChanges}}
{{/hasMajorChanges}}
{{^hasMajorChanges}}

## Changes ##

{{/hasMajorChanges}}
{{#additionalChanges}}
* [`#{{number}}`]({{issueUrl}}) {{title}}
{{/additionalChanges}}
{{^pullrequests}}{{> logs}}
{{/pullrequests}}
{{#hasReleaseAssets}}

## Assets ##

{{#releaseAssets}}
* [{{name}}]({{browserDownloadUrl}})
{{/releaseAssets}}
{{/hasReleaseAssets}}
{{#hasDependencies}}

## Dependencies ##

```bash
{{#dependencies}}{{>dependency}}
{{/dependencies}}
```
{{/hasDependencies}}

## How to install ##

```bash
# latest stable
nuget {{packageId}} ~> {{version.major}}
# latest stable with only patch updates
nuget {{packageId}} ~> {{version.major}}.{{version.minor}}
# latest build from master
nuget {{packageId}} ~> {{version.major}} master
# latest build with release candidates
nuget {{packageId}} ~> {{version.major}} rc
```
